* {
    box-sizing: border-box;
}

/* ----------- Font Family ----------- */

@font-face {
    font-family: Eurofurenceregular;
    src: url(/fonts/eurofurence/eurof55.ttf);
}

@font-face {
    font-family: Lato;
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(/fonts/lato/Lato-Bold.ttf)
}

/* BASICS */

html {
    font-family: Lato, sans-serif;
    line-height: 1.25em;
    color: #606060;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

button {
    border-style: none;
}


a {
    text-decoration: none;
    font-family: LatoBold;
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

/* LAYOUT */

.container {
    width: 980px;
    
}

header {
    background-color: #292929;
    box-shadow: inset 0 -6px 0 #1e1e1e;
}

.post {
    
    margin-bottom: 5em;
    
}

.main-content {
    
    border-left: 1px solid #e1e0e0;
    border-right: 1px solid #e1e0e0;
    padding-top: 5em;
}

.hamburger {
    display: none;
}

/* COMPONENTS */

h1 {
    font-family: Eurofurenceregular;
    font-size: 2.5rem;
    color: #ffffff;
}

h1 span {
    color: #58c93a;
}

.main-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 131px;
    height: 131px;
    border-right: 1px solid #1d1d1d;
}

.main-nav li:first-of-type {
    border-left: 1px solid #1d1d1d;
}

.main-nav a {
    font-family: LatoBold;
    
}


.main-nav li:hover {
    box-shadow: inset 0 -6px 0 #58c93a;
    /* color: #58c93a; */
}

.main-nav a:hover {
    color: #58c93a;
}

.post-content {
    flex-direction: column;
    padding-right: 2rem;
    align-items: flex-start;
    
}

.post-img {
    flex-basis: 50%;
    /* width: 50%; */
    margin-right: 2.5em;
    
}

h2 {
    font-family: LatoBold;
    font-size: 1.75rem;
    line-height: 1.875rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.post-text {
    flex-grow: 1;
    
}

.continue-read-btn {
    font-family: LatoBold;
    color: #c2c1c1;
    line-height: 2.5em;
    border-radius: 2em;
    padding: 0 1.5625em;
    border: 2px solid #c2c2c2;
    cursor: pointer;
    transition: .7s;
    
    
}

.continue-read-btn:hover {
    border: 2px solid #58c93a;
    color: #58c93a;
}

.continue-read-btn:hover::after {
    content: "→";
    padding-left: .6rem;
}

.posts-nav {
    font-family: LatoBold;
    font-size: 1.125rem;
    text-transform: uppercase;
    border-top: 1px solid  #e1e0e0;
    width: 100%;
    height: 75px;
}

.nav-prev {
    cursor: pointer;
    margin-left: 3em;
    color: #818181;
}

.nav-next {
    cursor: pointer;
    margin-right: 3em;
    color: #818181;
}

footer {
    height: 315px;
    width: 100%;
    border-top: 1px solid #e1e0e0;
    background-color: #f8f8f8;
}

footer h1.logo {
    color: #292929;
    margin-top: 5rem;
}


.footer-links {
    margin-bottom: 5rem;
}

.social:not(:first-child) {
    margin-left: 2rem;
}

.social {
    background-color: #e5e5e5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}


.facebook img {
    width: 8px;
    height: 14px;
    margin: auto auto;
}

.twitter img {
    width: 16px;
    height: 12px;
    margin: auto auto;
}

.be img {
    width: 16px;
    height: 11px;
    margin: auto auto;
}

.dribble img {
    width: 14px;
    height: 14px;
    margin: auto auto;
}


.social.facebook:hover {
    background-color: #516fad;
}

.social.twitter:hover {
    background-color: #1DA1F2;
}

.social.be:hover {
    background-color: #9717ff;
}

.social.dribble:hover {
    background-color:#F082AC
}

.join-modal {
    /* visibility: hidden; */
    display: none;
    position: fixed;
    top: 0;
    left: 0; 
    display: flex;
    border: 2px solid black;
    background-color:  #f8f8f8;
    padding: 7px;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}

.join-modal-btn, .join-modal input {
    align-items: center;
    padding: 5px;
}

.join-modal-btn {
    width: 100px;
}

/* HELPERS */

/* flex-helpers */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
    
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}


.flex.justify-flex-start {
    justify-content: flex-start
}

/* List helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* --------- MEDIA ---------- */


@media screen and (max-width: 980px) {
    html {
        font-size: 14px;
    }

   .container {
       max-width: 740px;
   }
}


@media screen and (max-width: 740px) {
    html {
        font-size: 18px;
    }

    header {
        height: 80px;
        margin: 20px 0 0 0;
    }

    .post {
        flex-direction: column;
    }

    .post-img {
        width: 100%;
        margin: 0 0 2em;
    }

    .post-content {
        margin: 0 5px;
    }

    .nav-prev {
        margin-left: 0.6em;
    }

    .nav-next {
        margin-right: 0.6em;
    }
    
    h1 {
        font-size: 1.5rem;
    }

    .hamburger {
        display: block;
        top: 15px;
        right: 15px;
        font-size: large;

    }

    .main-nav {
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: #f8f8f8;
        display: none;
        
    }

    .main-nav a {
        border-left: 1px solid #1d1d1d;
        border-bottom: 1px solid #1d1d1d;
        height: 50px;
       
    }

    .main-nav a {
        color: #292929;
    }
}